<%= form_with(model: infosetting) do |form| %>
  <% if infosetting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(infosetting.errors.count, "error") %> prohibited this infosetting from being saved:</h2>

      <ul>
        <% infosetting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
