<h1>Home#top</h1>
<!DOCTYPE html>
<h2>オペレーションシート</h2>
<body>
<form action="#" method="post">
	<p>社員番号　：
	<input type="text" name="emp_id"></p>
    <p>パスワード：
	<input type="text" name="pass"></p>
	<a href="sheets/index"><input type="button" value="ログイン" id="button2"></a>
</form>
</body>
<p>Find me in app/views/home/top.html.erb</p>
