// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* posts/index ================================ */
.posts-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
}

.post-date a {
    font-weight: 600;
}

.post-date .fa {
    font-size: 20px;
    margin-right: 3px;
    
}

.post-date {
    font-weight: 600;
}

.post-date a:hover {
    color: #3ecdc6;
}
/*設定画面のタイトル*/
.post-date-set {
    font-weight: 600;
}
.post-date-set a {
    font-weight: 600;
    color: #f88a2f;
}

.post-date-set a:hover {
    color: #cd4a3e;
}

.post-link{
    font-size:25px;
}

.post-left {
    float: left;
    width: 50%;
    padding-left: 25px;
    text-align: left;
}

.post-right {
    float: right;
    width: 50%;
    padding-left: 25px;
    text-align: left;
}

.duty-cont {
    border: solid 1px #b4d7f5;
}
/* posts/show ================================ */
.posts-show form {
    display: inline;
}

.duty-memb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.posts-show-item {
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    overflow: hidden;
}

textarea {
    font-size: 20px;
    padding: 10px;
    //min-height: 50px;
    border: 1px solid rgb(216, 218, 223);
    width:100%;
    resize: none;
}

table {
    border-collapse: collapse;
    border: solid 2px #91cbfd; 
    width: 100%;
    margin-top: 15px;
    /*テーブル*/ 
}

table th{
    border: solid 1px #b4d7f5;/**/
    /*破線 1px オレンジ*/
    background-color:#d0e6fa;
    /*ヘッダー*/ 
    padding:5px;
}
.div_cell{
    border: solid 1px #b4d7f5;/**/
    /*破線 1px */
    background-color:#7dc0ff;
    /*ヘッダー*/ 
    font-size: 20px;
    padding: 10px;
}

table td {
    border: dashed 1px #b4d7f5;/**/
    /*破線 1px オレンジ*/
    /*明細*/ 
    padding:3px;
}

.head_cell{
    border: solid 1px #b4f5bd;/**/
    /*破線 1px オレンジ*/
    background-color:#88ecaf;
    /*ヘッダー*/ 
    font-weight: bold;
}

.name_cell{
    padding-left: 5px;
}

.name_cell_add{
    padding-left: 5px;
    color:#8899a6;
    
}

.time_cell{
        padding-left: 3px;
        width: 150px;
        text-align: center;
        
}

.name_cell_gex{
    padding-left: 10px;
    text-align: left;
    width: 150px;
}

.cnt_area_gex{
width: 128px
}

.time_cell_gex{
    padding-left: 3px;
    text-align: center;
    
}

.cont_cell_gex{
text-align: center;
}
.cont_cell_gex input[type="submit"] {
background-color: #3a5ae7;
color: white;
cursor: pointer;
font-weight: 300;
width: 50px;
border-radius: 2px;
margin-top: 2px;
margin-bottom: 10px;
// float: right;
box-shadow: 0 5px #404349;
}

.i_cell p{
    font-size: 1.5em;
    line-height: normal;
    margin: 50px 0;
}

.duty-list{
    color:#427ff1;
    font-weight: 600;
    padding-left: 5px;
}
// 設定画面
.duty-list-set{
    color: #f88a2f;
    font-weight: 600;
    padding-left: 5px;
}
.duty_date_set{
    color: #f88a2f;
    font-weight: 600;
    padding-left: 5px;
    font-size: 30px;;
}

.duty_date{
    color: #427ff1;
    font-weight: 600;
    padding-left: 5px;
    font-size: 30px;

}
.form input[type="submit"] {
    background-color: #3a5ae7;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin: 10px;
    //margin-bottom: 0;
    //float: right;
    //display: block;
    box-shadow: 0 7px #404349;
}

.not_must input[type="submit"] {
    background-color: #6ad19e;
    color: white;
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    width: 120px;
    border-radius: 2px;
    // margin-top: 2px;
    // margin-bottom: 10px;
    // // float: right;
    box-shadow: 0 5px #404349;
}

.cancel input[type="submit"] {
    background-color: #4d4d4d;
    color: white;
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    width: 120px;
    border-radius: 2px;
    // margin-top: 2px;
    // margin-bottom: 10px;
    // // float: right;
    box-shadow: 0 5px #404349;
}



.form-checkbox input[type="submit"] {
    background-color: #f88a2f;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 75px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 15px;
    float: right;
    box-shadow: 0 5px #404349;
}
.form-checkbox{
    margin-bottom: 10px;
}

//横並びチェック用
.form-checkbox-side{
    margin-bottom: 10px;
    display: inline-flex;
}
//横並びチェックのコンテンツ用
.check-list{
    text-align: center;
    margin: 5px;
}

.done_cell{
    text-align: center;
    width: 150px;
}
//設定画面のボタン
.done_cell input[type="submit"] {
    background-color: #f88a2f;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
}
//実行完了後はボタン色変更
.done_cell .cancel input[type="submit"] {
    background-color: #f82f2f;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
}


.person_set input[type="submit"] {
    background-color: #13962f;
    color: white;
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    width: 95px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
}

.person_delete input[type="submit"] {
    background-color: #7e7e7e;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 95px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
    font-size: 12px;
}

.ex-btn{
    text-align: right;
    margin: 10px;
    padding-bottom: 10px;
}

.ex-btn a{
    background-color: #eb772b;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 3px;
    padding: 10px 5px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
    
}
.ex-btn a:hover{
    background-color: #fc2104;
}




.doneall_cell{
    text-align: center;
    width: 150px;
}

.doneall_cell input[type="submit"] {
    background-color: #f53838;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 75px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
}
.cont_cell{
    text-align: center;
    width: 150px;
}

.cont_cell input[type="radio"] {
    width: 10px;		/* マークの横幅 */
    height: 10px;
    }

.name_cell textarea {
    width: 450px;		/* マークの横幅 */
    height: 150px;
    }  

.radiolb{
    size: 2px;
}


.cnt_area{
    width: 100px
}

table input[type="submit"] {
    background-color: #3a5ae7;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 50px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    // float: right;
    box-shadow: 0 5px #404349;
}

table input[type="submit"]:hover {
    background-color: #94a6f8;
    
}

table input[type="submit"]:active{
    box-shadow:none;
    position:relative;
    top:7px;
    
}

/*テーブルヘッダ*/
.a_header{
    background-color:#8baeee;
    font-size:20px;
    padding: 10px 15px;
}

.c_header{
    background-color:#8baeee;
    font-size:20px;
    padding: 10px 15px;
}

.i_header{
    background-color:#8baeee;
    font-size:20px;
    padding: 10px 15px;
}

.i_header_set{
    background-color:#ff7525;
    font-size:20px;
    padding: 10px 15px;
}

.sec_header{
    background-color:#caf5dc;
    font-size:20px;
    padding: 3px 15px;
}

.supplement{
    font-size:12px;
    font-weight:  bold;
}

.dutys{
    font-size:12px;
    font-weight:  bold;
    color:#0d7e49;
}
.caution{
    color:#ff0000;
    font-size:12px;
    font-weight:  bold;
}

.division{
    font-size:15px;
    font-weight:  bold;
}

.division ul {
    padding: 0;
}

.division ul li, ol li {
    color: #404040;
    border-left: solid 6px #0f8fca;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 2px;/*下のバーとの余白*/
    line-height: 0.8;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
}

.division_set{
    font-size:15px;
    font-weight:  bold;
}

.division_set ul {
    padding: 0;
}

.division_set ul li, ol li {
    color: #404040;
    border-left: solid 6px #f37e1f;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 2px;/*下のバーとの余白*/
    line-height: 0.8;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
}



.command{
    color:#1900ff;
    font-size:12px;
    font-weight:  bold;
}



.posts-show-item img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle;
    object-fit: cover;
}

.posts-show-item .post-date a {
    vertical-align: middle;
    font-size: 10px;
    margin-left: 15px;
}

.posts-show-item p {
    font-size: 24px;
    margin: 20px 0;
}

.post-time {
    color: #8899a6;
    margin-bottom: 10px;
}

.done-icon {
    color: #28e441;
}

.doneall-icon {
    color: #28e441;
}

.like-btn-unlike {
    color: #ff2581;
}

.posts-show-item .fa {
    font-size: 16px;
    margin-right: 3px;
}

.duty_date .fa {
    font-size: 30px;
    margin-right: 3px;
}

.add {
    font-size: 10px;
    margin-right: 3px;
    font-weight: bold;
    color:#ce3f3f;
    display: inline-flex;
}

.dec {
    font-size: 10px;
    margin-right: 3px;
    font-weight: bold;
    color:#2768f5;
    display: inline-flex;
}

.post-menus {
    float: right;
}

.post-menus a, .post-menus input {
    color: #8899a6;
    text-decoration: underline;
    font-size: 14px;
}

/* posts/new ================================ */
.posts-new textarea {
    font-size: 20px;
    padding: 10px;
    min-height: 140px;
    border: 1px solid rgb(216, 218, 223);
    resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
    font-size: 24px;
    opacity: 0.5;
}

.page{
    display: flex;
}

.pagination{
    margin:5px;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
    background: #696969;     /*背景の色を変える*/
    border-radius: 25px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
}

