<!-- ロード画面（非表示、サブミット時などでjsから表示制御） -->
<div id="loading">
<div id="animation">
    <div class="loading-circle"></div><!-- .loading-circle -->
    <p>Now Loading...</p>
</div><!-- #animation -->
</div><!-- #loading -->
<div id="contents">
<%
=begin%>
 <p>ローディングが完了しました！</p> 
<%
=end%>
</div><!-- #contents -->